.header-menu {
    position: absolute;
    right: 10px;
}

i.fa-menu {
    font-family: fontawesome !important;
    font-style: normal;
    position: absolute;
    top: 3px;
}

.dropdown-toggle::after {
    display:none;
}

.nav-link {
    margin-right: 25px;
    outline: none;
}