.project-card {
    padding: 20px;
}

.project-button {
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 0;
}

.rightstr {
    float: right;
    width: 10%;
    text-align: right;
}

.pointer {
    cursor: pointer;
    color: black;
    margin-right: 4px;
}

.project-button:hover i{
    color: white;
}

i.fa-list {
    font-family: fontawesome !important;
    font-style: normal;
    color: black;
    float: left;
    padding: 0;
}